<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/adicionar.css" />
    <title>Adicionar</title>
  </head>
  <body>
    <main class="forms">
      <form action="/adicionar" method="post">
        <input type="text" name="nome" placeholder="Nome da música" />
        <input type="url" name="img" placeholder="Link da Imagem (LastFM)" />
        <input
          type="number"
          name="ano"
          placeholder="Ano de lançamento da música"
        />
        <input type="text" name="album" placeholder="Nome do Albúm" />
        <input type="text" name="artista" placeholder=" Artista " />
        <input class="iframe-case"
          type="text"
          name="iframe"
          placeholder="iFrame do Youtube (Sem as aspas)"
        />

        <button type="submit">Adicionar!</button>
      </form>
    </main>
  </body>
</html>
