<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detalhes.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="card-container">
        <div class="video">
          <iframe <%= musica.iframe %>>  </iframe>
        </div>
        <div>
          <span> <a href="/editar/<%= musica.id %>"> EDITAR </a></span>
          <span> <a href="/apagar/<%= musica.id %>"> APAGAR </a></span>
        </div>
      </div>
    </main>
  </body>
</html>
