<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Playlist</title>
</head>
<header class="tituloDaPagina">
    <h1>Playlist</h1>
</header>
<body>
    <div class="resumo">
        <div class="welcome">
            <p>Bem-vindo a Playlist!</p>
        </div>
        <div class="tech">
            <p>Nesse projeto foi usado Postgres14, HTML, CSS, EJS</p>
        </div>
    </div>
<main>
    <div class="card-container">
        <header class="card-header">
            <h3> NOME DA MUSICA </h3>
        </header>
        <div class="card-img">
            <img src="https://pbs.twimg.com/media/EvqegI4WYAYcMCk.jpg" alt="CAPA DO ALBUM">
        </div>
        <div class="card-artista">
            <p>Artista</p>
        </div>
        <div class="card-footer">
            <span> Albúm </span>
            <span> Ano </span>
        </div>
    </div>   
</main>
</body>
</html>