<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Playlist </title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<header>
    <h1> Playlist </h1>
</header>
<body>
    <div class="resumo">
        <p> Bem-vindo(a), o catálogo faz parte de um projeto baseado em EJS, HTML, CSS e SQL </p>
    </div>
    <div class="txt">   
        <p>Adicione você alguma música!</p>
    </div>
    <div class="input">
        <p>| Música |</p>
        <form action="">
            <input type="text" id="musica" name="musica" placeholder="Digite sua música aqui!"> 
            <br>        
        </form>     
    </div>
    <div class="button">
        <button> ADICIONE! </button>
    </div>
    <div class="card-container">
       <img src="https://m.media-amazon.com/images/I/51ZjJ93z3EL._AC_SX425_.jpg" alt="">
       <div>
           <span> Artista </span>
           <span> Ano </span>
       </div>
       <audio controls="controls" src="">
    </div>
</body>
</html>


