<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Playlist </title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<header>
    <h1> Playlist </h1>
</header>
<body>
    <div class="resumo">
        <p> Bem-vindo(a), o catálogo faz parte de um projeto baseado em EJS, HTML, CSS e SQL </p>
    </div>
    <div class="add">
        <h4>Adicione você alguma música!</h4>
        <form action="">
            <label for="musica"> Música: </label>
            <input type="text" id="musica" name="musica" placeholder="Digite sua música aqui!"> 
            <br><br>
            <button class="adicionar">Adicionar</button>            
        </form>     
    </div>
    
</body>
</html>
