@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  border: 0;
  font-family: "Rubik", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #832ed1;
  font-size: 36px;
}

@keyframes expandir-borda {
  0% {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  100% {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@keyframes go-back {
  from {
    transform: translatey(5px);
  }
  to {
    transform: translatey(-5px);
  }
}

.forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forms input {
  margin: 0.6rem;
  width: 500px;
  border: solid 0px;
  background-color: #832ed199;
  padding: 1.3rem;
  border-radius: 30px;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 20px;
}

button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #832ed1;
  margin: 3rem;
  background-color: #f3f3f3;
  padding: 1.4rem;
  font-size: larger;
  border: solid #832ed1;
  border-radius: 30px;
}

button:hover {
  background-color: #832ed1;
  color: #f3f3f3;
  animation: expandir-borda 0.4s infinite alternate;
  cursor: pointer;
}

.voltar {
  width: 75px;
  background-color: #7021b9;
  border-radius: 200px;
  margin: 2rem;
}

.voltar:hover {
  animation: go-back 0.9s infinite alternate;
}

::-webkit-input-placeholder {
  color: #f3f3f3;
  font-weight: bold;
}
