@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  border: 0;
  font-family: "Rubik", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f3f3f3;
}

@keyframes go-back {
  from {
    transform: translatey(5px);
  }
  to {
    transform: translatey(-5px);
  }
}

.voltar{
  width: 7%;
  background-color: #7021b9;
  border-radius: 200px;
  margin: 2rem;
}

.voltar:hover{
  animation: go-back 0.9s infinite alternate;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-container {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem 0rem 3rem;
  width: 1000px;
  height: 800px;
  background-color: #7021b9;
  border-radius: 12px;
  color: #f3f3f3;
  font-weight: bold;
  border: solid 5px #f3f3f399 ;
}

.span{
  display: flex;
  width: 95%;
  justify-content: space-around;
  margin-top: -7rem;
}

.span a{
  text-decoration: none;
  color: #f3f3f3;
  background-color: #f3f3f320;
  padding: 2rem;
  border-radius: 30px;
}

.span a:hover{
  text-decoration: none;
  color: #7021b9;
  background-color: #f3f3f3;
  transition: 0.2s ease-in-out;
}
